<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{pageTitle}}</title>
</head>
<body>
  {{> header}}
  <h3>Some Products Briefs</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam cum quisquam labore, necessitatibus autem facilis reiciendis maiores soluta doloribus minima ratione perferendis, rem quo ducimus ipsa eos, aliquid fugiat officia.</p>
  {{> footer}}
</body>
</html>
